<nav>
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a  class="nav-link" id="linkServicio" routerLink="./" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Servicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="linkCrearServicio" routerLink="./crear" routerLinkActive="active">Crear servicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="linkListarServicio" routerLink="./listar" routerLinkActive="active">Listar servicio</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
