<div class="card container">
  <div class="card-body">
    <form [formGroup]="servicioForm" (ngSubmit)="enviar()">
      <div class="mb-3">
        <label class="form-label" >Nombre</label>
        <input validar type="text" class="form-control" id="nombreServicio"  placeholder="Nombre del servicio"
                 formControlName="nombre">
      </div>
      <div class="mb-3">
        <label class="form-label" >Valor</label>
        <input validar type="text" id="valorServicio" name="descripcion" placeholder="Valor del servicio"
               class="form-control" formControlName="valor">
      </div>
      <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
  </div>
</div>
