<nav>
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a  class="nav-link" id="linkReserva" routerLink="./" routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">Reserva</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="linkCrearReserva" routerLink="./crear" routerLinkActive="active">Crear reserva</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="linkListarReserva" routerLink="./listar" routerLinkActive="active">Listar reserva</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
