<div class="card container">
  <div class="card-body">

      <input type="text" class="form-control mt-2 mb-3"
      placeholder="Buscar por placa"
      #txtSearch
      (keyup)="onSearchReserva(txtSearch.value)"
      *ngIf="placa === null"/>
      <a class="btn btn-sm btn-primary"
         (click)="prevPage()">
        Anteriores
      </a>
      &nbsp;
      <a class="btn btn-sm btn-primary"
         (click)="nextPage()"
         *ngIf="!((reservas | filtroReserva:page:search).length === 0)">
        Siguientes
      </a>
      <table class="table  table-responsive">
        <thead>
        <tr>
          <th>PLACA</th>
          <th>NOMBRE</th>
          <th>FECHA CREACIÓN</th>
          <th>FECHA INICIO</th>
          <th>FECHA FIN</th>
          <th>NOMBRE DEL SERVICIO</th>
          <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reserva of  reservas | filtroReserva:page:search ">
          <td>{{reserva.placa}}</td>
          <td>{{reserva.nombre}}</td>
          <td>{{reserva.fechaCreacion | date:'medium'}}</td>
          <td>{{reserva.agenda.fechaInicio | date:'medium'}}</td>
          <td>{{reserva.agenda.fechaFin | date:'medium' }}</td>
          <td>{{reserva.servicio.nombre}}</td>
          <td>{{reserva.total}}</td>
        </tr>
        </tbody>
      </table>
  </div>
</div>
